@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;700&family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
  --heading-color: rgb(24, 24, 24);
  --text-color: rgb(112, 112, 112);
  --light-gray: #eaeaea;
  --lighter-gray: rgb(243, 243, 243);
  --wht: #f9fafe;

  --box-shadow: 0 0 20px rgba(6, 99, 221, 0.116);
  --body-font: 'Open Sans', sans-serif;
  --heading-font: 'Geologica', sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition-duration: 0.1s;
}

.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 1rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

body {
  background: var(--light-gray);
  color: var(--text-color);
  font-family: var(--body-font); 
  font-weight: 400;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
  color: var(--heading-color);
}


.App {
  max-width: 1100px;
  width: 100%;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  background: #fff;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
}

.aside {
  width: 20%;
  background: var(--lighter-gray);
  padding: 20px;
}

.main {
  width: 100%;
}

.header {
  padding: 20px;
}

.user-list {
  padding: 20px;
}

.user-info {
  margin-left: 5px;
  width: 40%;
}

.user-info p {
  line-height: 1;
}

.fullname {
  font-weight: 700;
  color: var(--heading-color);
}

.App .user-list ul{
  list-style: none;
  padding: unset;
  margin-top: 20px;
}

.App .user-list ul .img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.App .user-list ul li {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .App {
    flex-direction: column-reverse;
    border-radius: unset;
    margin: unset;
    height: 100vh;
    position: relative;
  }
  .aside {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    
  }

  .main {
    position: absolute;
    top: 0;
  }
}